.intro {
  padding-top: 64px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 0 ;
  column-gap: 8px;
  margin-top: 64px;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
}

.intro-info {
  flex: 2 1 300px;
}

.intro-info h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.intro-info p {
  font-size: 1.25rem;
  font-weight: 1.4;
  margin-bottom: 16px;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
}